<div [formGroup]="paymentElementForm" class="checkout-form-container">
  <h3 class="checkout-title">Payment Details</h3>
  <div class="form-fields">
    <mat-form-field appearance="fill" class="form-field">
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <input matInput placeholder="Email" type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <input matInput placeholder="Address" formControlName="address" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <input matInput placeholder="ZIP Code" formControlName="zipcode" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <input matInput placeholder="City" formControlName="city" />
    </mat-form-field>
  </div>
  <div class="stripe-element-wrapper">
    @if (elementsOptions.clientSecret) {
      <ngx-stripe-elements
        [stripe]="stripe"
        [elementsOptions]="elementsOptions"
      >
        <ngx-stripe-payment [options]="paymentElementOptions" />
      </ngx-stripe-elements>
    }
  </div>
<button mat-stroked-button color="primary" class="pay-btn" (click)="pay()" [disabled]="paying() || paymentElementForm.invalid">
    Pay
</button>
</div>
