.product-detail-dialog {
  padding: 2rem;
}

.product-detail-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* center the product image */
.detail-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
