<div class="success-container">
  <mat-card class="status-card success-card">    <mat-card-header class="status-header">
      <!-- <mat-icon mat-card-avatar>check_circle</mat-icon> -->
      <mat-card-title>Completed</mat-card-title>
    </mat-card-header>
    <mat-card-content class="status-content">
      <div class="success-message">
        {{ successMessage }}
      </div>
      <div *ngIf="showAnimation" class="success-animation">
        <mat-icon class="checkmark-icon">check_circle_outline</mat-icon>
      </div>
      <div class="success-details">
        <h4>
          <mat-icon>info_outline</mat-icon>
          Next steps
        </h4>
        <p>Your order is being confirmed. Meanwhile, you can go to the 
            <a href="#">Order History</a> section to see the status of your purchase.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
