<mat-card>
  <mat-card-content>
    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
      <!-- T-shirt Color Editor Tab -->
      <mat-tab label="Color" [disabled]="isTabDisabled('color')">
        <app-tshirt-color-editor 
          [selectedColor]="getCurrentGarmentColor()"
          (colorSelected)="onColorSelected($event)">
        </app-tshirt-color-editor>
      </mat-tab>
      
      <!-- Text Editor Tab -->
      <mat-tab label="Text" [disabled]="isTabDisabled('text')">
        <app-text-editor 
          [initialText]="initialTextProps"
          [config]="config.textEditor"
          [existingTextLayers]="textLayers"
          (textAdded)="onTextAdded($event)"
          (textLayerCreated)="onTextLayerCreated($event)">
        </app-text-editor>
      </mat-tab>
      
      <!-- Image Editor Tab -->
      <mat-tab label="Image" [disabled]="isTabDisabled('image')">
        <app-image-editor
          [config]="config.imageEditor"
          [existingImageLayers]="imageLayers"
          (imageAdded)="onImageAdded($event)"
          (imageLayerCreated)="onImageLayerCreated($event)">
        </app-image-editor>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
