.search-bar {
  width: 720px;
}

.search-input::placeholder {
  font-family: 'Golos Text', sans-serif;
}
.search-bar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.price-filter {
  display: flex;
  gap: 0.5rem;
}

.price-input {
  width: 100%;
}

.tags-filter {
  display: flex;
  flex-wrap: wrap;
}
