<mat-card>
  <mat-card-header>
    <mat-card-title>Choose T-Shirt Color</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="color-grid-container">
      <div class="color-grid">
        <div *ngFor="let color of garmentColors" 
          class="color-swatch"
          [style.background-color]="color.value"
          [class.selected]="selectedColor === color.value"
          (click)="selectColor(color.value)"
          [matTooltip]="color.label"
          matTooltipPosition="above">
        </div>
      </div>
    </div>      <div class="selected-color-info" *ngIf="selectedColor">
      <div class="color-sample" [style.background-color]="selectedColor"></div>
      <div class="color-label">
        {{getSelectedColorLabel() | titlecase}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
