<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'design.choose_tshirt_color' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="color-grid-container">
      <div class="color-grid">
        <div *ngFor="let color of garmentColors"
          class="color-swatch"
          [style.background-color]="color.hexValue"
          [class.selected]="selectedColor === color.value"
          (click)="selectColor(color.value)"
          [matTooltip]="('design.' + color.label) | translate"
          matTooltipPosition="above">
        </div>
      </div>
    </div>
    <div class="selected-color-info" *ngIf="selectedColor">
      <div class="color-sample" [style.background-color]="selectedColor"></div>
      <div class="color-label">
        {{ 'design.selected_color' | translate }}: {{getSelectedColorLabel() | titlecase}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
