<div class="app-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav
            #sidenav
            [mode]="isMobile() ? 'over' : 'side'"
            class="sidenav"
            [opened]="isOpened()"
            [fixedInViewport]="isMobile()"
        >
            <div class="logo-container">
                <h1 class="app-logo">Quri</h1>
            </div>

            <div class="nav-items">
                @for (route of routes; track route.path) {
                <a
                    [routerLink]="route.path"
                    routerLinkActive="active-link"
                    class="nav-item"
                >
                    <mat-icon>{{ route.icon }}</mat-icon>
                    <span>{{ route.label }}</span>
                </a>
                }
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="content">
            <div class="toolbar">
                <div class="toolbar-left">
                    @if (isMobile()) {
                    <button
                        mat-icon-button
                        color="primary"
                        aria-label="Toggle sidenav"
                        (click)="sidenav.toggle()"
                    >
                        <mat-icon>menu</mat-icon>
                    </button>
                    } @if (currentPage) {
                    <h2>{{ currentPage }}</h2>
                    }
                </div>
                <div class="toolbar-right">
                    <button
                        mat-icon-button
                        color="primary"
                        aria-label="Create new item"
                        [routerLink]="['/design-lab/new']"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        color="primary"
                        aria-label="Shopping cart"
                    >
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        color="primary"
                        aria-label="User profile"
                        [routerLink]="['/profile']"
                    >
                        <mat-icon>person</mat-icon>
                    </button>
                </div>
            </div>

            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
