<mat-card class="project-card">
    <img mat-card-image [src]="project.preview_image_url" [alt]="project.name">
    <mat-card-content>
        <div class="content_header">
            <div class="content_header_left">
                <span> {{ project.user_id }}</span>
            </div>
            <div class="content_header_right">
                <mat-icon class="favorite_icon">favorite</mat-icon>
                <span class="likes-count"> {{ project.likes }} </span>
            </div>
        </div>
        <span class="project-name">{{ project.name }}</span>
        <span class="project-price"> S/ {{ project.price | number:'1.2-2' }} </span>
    </mat-card-content>
    <div class="project-card-actions">
        <mat-card-actions>
            <button class="add-to-cart-button" mat-raised-button color="primary">
                <span>Add to cart</span>
            </button>
        </mat-card-actions>
    </div>
</mat-card>